
.login-page{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-height: fit-content;
    flex-direction: column;

    .login-form{
      background-color: aliceblue;
      border: aliceblue 2px solid;
      border-radius: 5px;
      padding: 20px 20px 20px 20px;
    }

    div {
      width: 100%;
    }

    .float-right{
      float: right;
    }
}